.row
  .medium-12.columns.content-h1
    h1 Edit #{editRecipe.title}


form.edit(action='/glazes/' + editRecipe._id + '/edit' method='post')
  .row.edit-title
    .medium-10.columns
      label(for='title') 
        h2 Title
      input(type='text' id='title' value=editRecipe.title name='title' required)
    .medium-2.columns.fav
      label(for='favorite') 
        h2 Fav
        if editRecipe.favorite 
          input(type='checkbox' id='favorite' name='favorite' checked)
          i.fa.fa-heart
          i.fa.fa-heart-o
        else 
          input(type='checkbox' id='favorite' name='favorite')
          i.fa.fa-heart
          i.fa.fa-heart-o
        
  .row
    .medium-12.columns
      .medium-6.columns.dropdowns
        .row
          .medium-12.columns
            h3 Firing
          i.fa.fa-angle-down#top
          i.fa.fa-angle-down#middle
          i.fa.fa-angle-down#bottom
          .medium-12.columns
            select(id='temp-range' name='temp_range' required)        
              option(disabled) Temperature Range
              - tempArray = ['Low Fire', 'Mid Range', 'High Fire']
              for item in tempArray        
                option(selected=editRecipe.tempRange== item) #{item}
                
          .medium-12.columns
            select(id='cone' name='cone' required)
              option(disabled) Cone
              - coneArray = ['∆ 022', '∆ 021', '∆ 020', '∆ 019', '∆ 018', '∆ 017', '∆ 016', '∆ 015', '∆ 014', '∆ 013', '∆ 012', '∆ 011', '∆ 010', '∆ 09', '∆ 08', '∆ 07', '∆ 06', '∆ 05', '∆ 04', '∆ 03', '∆ 02', '∆ 01', '∆ 1', '∆ 2', '∆ 3', '∆ 4', '∆ 5', '∆ 6', '∆ 7', '∆ 8', '∆ 9', '∆ 10', '∆ 11', '∆ 12', '∆ 13', '∆ 14', '∆ 15']
              for item in coneArray        
                option(selected=editRecipe.cone== item) #{item}
                
          .medium-12.columns
            select(id='firing-type' name='firing_type' required)
              option(disabled) Type of Firing
              - firingArray = ['Oxidation', 'Reduction', 'Raku', 'Salt or Soda', 'Wood', 'Lustre', 'Saggar']
              for item in firingArray        
                option(selected=editRecipe.firingType== item) #{item}
      
      .medium-6.columns.dropdowns
        .row
          .medium-12.columns
            h3 Appearance
          i.fa.fa-angle-down#top
          i.fa.fa-angle-down#middle
          i.fa.fa-angle-down#bottom
          .medium-12.columns
            select(id='surface' name='surface' required)
              option(disabled) Surface
              - surfaceArray = ['Shiny or Glossy', 'Semi-Gloss', 'Semi-Matte or Satin', 'Matte', 'Dry Matte']
              for item in surfaceArray        
                option(selected=editRecipe.surface== item) #{item}
                
          .medium-12.columns
            select(id='opacity' name='opacity' required)
              option(disabled) Opacity
              - opacityArray = ['Transparent', 'Translucent', 'Opaque']
              for item in opacityArray        
                option(selected=editRecipe.opacity== item) #{item}
                
          .medium-12.columns
            select(id='color' name='color' required)
              option(disabled) Color
              - colorArray = ['No Color', 'White', 'Gray', 'Black', 'Brown', 'Red', 'Orange', 'Yellow', 'Green', 'Blue-Green', 'Blue', 'Purple']
              for item in colorArray        
                option(selected=editRecipe.color== item) #{item}

  .row
    .medium-8.columns
      .row.ingredients
        .medium-9.columns
          label(for='ingredients') 
            h3 Base Ingredients
          input(type='text' id='ingredients' value=ingredients[0] name='ingredient_1')
          input(type='text' id='ingredients' value=ingredients[1] name='ingredient_2')
          input(type='text' id='ingredients' value=ingredients[2] name='ingredient_3')
          input(type='text' id='ingredients' value=ingredients[3] name='ingredient_4')
          input(type='text' id='ingredients' value=ingredients[4] name='ingredient_5')
          input(type='text' id='ingredients' value=ingredients[5] name='ingredient_6')
          input(type='text' id='ingredients' value=ingredients[6] name='ingredient_7')
          input(type='text' id='ingredients' value=ingredients[7] name='ingredient_8')
          input(type='text' id='ingredients' value=ingredients[8] name='ingredient_9')
          input(type='text' id='ingredients' value=ingredients[9] name='ingredient_10')
          
        .medium-3.columns
          label(for='amount') 
            h3 Amount
          input(type='text' id='amount' value=amounts[0]  name='amount_1')
          input(type='text' id='amount' value=amounts[1]  name='amount_2')
          input(type='text' id='amount' value=amounts[2]  name='amount_3')
          input(type='text' id='amount' value=amounts[3]  name='amount_4')
          input(type='text' id='amount' value=amounts[4]  name='amount_5')
          input(type='text' id='amount' value=amounts[5]  name='amount_6')
          input(type='text' id='amount' value=amounts[6]  name='amount_7')
          input(type='text' id='amount' value=amounts[7]  name='amount_8')
          input(type='text' id='amount' value=amounts[8]  name='amount_9')
          input(type='text' id='amount' value=amounts[9]  name='amount_10')
    
    .medium-4.columns
      label(for='notes') 
        h3 Notes
      textarea(rows=6 id='notes' name='notes') #{editRecipe.notes}
  
  .row
    .medium-8.columns
      .row.ingredients  
        .medium-9.columns  
          label(for='add-ingredients') 
            h3 Additional Ingredients
          input(type='text' id='add-ingredients' value=addIngredients[0] name='add_in_1')
          input(type='text' id='add-ingredients' value=addIngredients[1] name='add_in_2')
          input(type='text' id='add-ingredients' value=addIngredients[2] name='add_in_3')
          input(type='text' id='add-ingredients' value=addIngredients[3] name='add_in_4')
          input(type='text' id='add-ingredients' value=addIngredients[4] name='add_in_5')
          input(type='text' id='add-ingredients' value=addIngredients[5] name='add_in_6')
        
        .medium-3.columns
          label(for='add-amount') 
            h3 Amount
          input(type='text' id='add-amount' value=addAmounts[0]  name='add_amount_1')
          input(type='text' id='add-amount' value=addAmounts[1]  name='add_amount_2')
          input(type='text' id='add-amount' value=addAmounts[2]  name='add_amount_3')
          input(type='text' id='add-amount' value=addAmounts[3]  name='add_amount_4')
          input(type='text' id='add-amount' value=addAmounts[4]  name='add_amount_5')
          input(type='text' id='add-amount' value=addAmounts[5]  name='add_amount_6')
      
    .medium-4.columns
      .add-info
        h4 Additional Information
        i.fa.fa-angle-down#top
        i.fa.fa-angle-down#bottom
        select(id='specialty' name='specialty')
          option(disabled) Specialty Glaze
          - specialtyArray = ['Crystalline', 'Metallic', 'Luster', 'Texture', 'Rivulet', 'Slip', 'Stain', 'Engobe']
          for item in specialtyArray        
            option(selected=editRecipe.specialty== item) #{item}
        
        select(id='test-status' name='test_status')
          option(disabled) Test Status
          - testStatusArray = ['Tested', 'Untested', 'In Progress']
          for item in testStatusArray
            option(selected=editRecipe.testStatus== item) #{item}
        
        label(for='image')
          h4.upload Upload Image  
        if editRecipe.image
          input(type='file' id='image' value=editRecipe.image.filename name='image')
        else 
          input(type='file' id='image' name='image')
        
  .row.submit-button
    .medium-12.columns
      button(type='submit')   
        h4 Update Recipe
      
.row
  .medium-12.columns.footer
