.row.show-one
  .medium-9.columns
    .row
      if oneRecipe.favorite
        .medium-1.columns.show-top-margin
          i.fa.fa-heart
        .medium-11.columns.show-h1
          h1= oneRecipe.title
      else 
        .medium-12.columns.show-h1
          h1= oneRecipe.title
  
  .medium-3.columns.show-top-margin
    .medium-6.columns
      form(action='/glazes/' + oneRecipe._id + '/edit')
        button.edit-button(type='submit' title='Edit')
          i.fa.fa-pencil-square-o
    .medium-6.columns
      form(action='/glazes/' + oneRecipe._id + '/delete' method='post')
        button.delete-button(type='submit' title='Delete')
          i.fa.fa-trash-o
hr

.row
  .medium-7.columns
    .row
      .medium-12.columns.show-one
        h3.fc Base Ingredients
        .row
          .medium-8.columns.show-ingredients
            if oneRecipe.ingredients
              for val in oneRecipe.ingredients
                if val
                  input(type='checkbox' id=val)
                  label(for=val) #{val}
                  hr.show-underline
          .medium-4.columns.show-ingredients
            if oneRecipe.amounts
              for val in oneRecipe.amounts
                if val
                  input.hidden(type='checkbox' id=val)
                  label(for=val) #{val}
                  hr.underline
    .row
      .medium-12.columns.show-one
        h3 Additional Ingredients
        .row
          .medium-8.columns.show-ingredients
            if oneRecipe.addIns
              for val in oneRecipe.addIns
                if val
                  input(type='checkbox' id=val)
                  label(for=val) #{val}
                  hr.show-underline
          .medium-4.columns.show-ingredients
            if oneRecipe.addAmounts
              for val in oneRecipe.addAmounts
                if val
                  input.hidden(type='checkbox' id=val)
                  label(for=val) #{val}
                  hr.underline
    
  .medium-5.columns
    .attributes
      h4 Firing Temperature
        span= oneRecipe.tempRange
      h4 Cone
        span= oneRecipe.cone
      h4 Type of Firing
        span= oneRecipe.firingType
      h4 Surface
        span= oneRecipe.surface
      h4 Opacity
        span= oneRecipe.opacity
      h4 Color
        span= oneRecipe.color
      h4 Specialty Glaze
        span= oneRecipe.specialty
      h4 Test Status
        span= oneRecipe.testStatus
    
.row.show-one
  .medium-7.columns
    h3 Notes
    p.show-notes= oneRecipe.notes
  .medium-5.columns
    h3 Image
    if oneRecipe.image
      img(src='../../uploads/' + oneRecipe.image.filename)
    else 
      img(src='/images/colors/' + oneRecipe.color + '.png')

.row
  .medium-12.columns.footer








//
