.row
  .medium-10.columns.show-h1
    h1= surface
  .medium-2.columns
    a.add-button(href='/glazes') +
    
.footer-pusher    
  if shinyRecipes
    for val in shinyRecipes
      .row.recipe
        .medium-2.columns.image
          img.glaze-test(src='/images/colors/' + val.color + '.png')
          //- a(href='/glazes/' + val._id) IMAGE
        .medium-9.columns
          a(href='/glazes/' + val._id) 
            h3 #{val.title}
          p
            | #{val.tempRange} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.cone} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.surface}
        .medium-1.columns.fav
          if val.favorite
            i.fa.fa-heart
            
  if semiRecipes
    for val in semiRecipes
      .row.recipe
        .medium-2.columns
          img.glaze-test(src='/images/colors/' + val.color + '.png')
        .medium-9.columns
          a(href='/glazes/' + val._id) 
            h3 #{val.title}
          p
            | #{val.tempRange} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.cone} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.surface}
        .medium-1.columns.fav
          if val.favorite
            i.fa.fa-heart
            
  if satinRecipes
    for val in satinRecipes
      .row.recipe
        .medium-2.columns
          img.glaze-test(src='/images/colors/' + val.color + '.png')
        .medium-9.columns
          a(href='/glazes/' + val._id) 
            h3 #{val.title}
          p
            | #{val.tempRange} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.cone} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.surface}
        .medium-1.columns.fav
          if val.favorite
            i.fa.fa-heart
            
  if matteRecipes
    for val in matteRecipes
      .row.recipe
        .medium-2.columns
          img.glaze-test(src='/images/colors/' + val.color + '.png')
        .medium-9.columns
          a(href='/glazes/' + val._id) 
            h3 #{val.title}
          p
            | #{val.tempRange} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.cone} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.surface}
        .medium-1.columns.fav
          if val.favorite
            i.fa.fa-heart
            
  if dryRecipes
    for val in dryRecipes
      .row.recipe
        .medium-2.columns
          img.glaze-test(src='/images/colors/' + val.color + '.png')
        .medium-9.columns
          a(href='/glazes/' + val._id) 
            h3 #{val.title}
          p
            | #{val.tempRange} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.cone} 
            span.pipe &nbsp;|&nbsp; 
            |  #{val.surface}
        .medium-1.columns.fav
          if val.favorite
            i.fa.fa-heart

.row
  .medium-12.columns.footer
