.row
  .medium-12.columns
    h2 Edit a Recipe

.row
  .medium-12.columns
    form(action='/glazes/' + editRecipe._id + '/edit' method='post')
      .row  
        .medium-10.columns
          p
          label(for='title') Title*
          input(type='text' id='title' value=editRecipe.title name='title' required)
        .medium-2.columns
          label(for='favorite') Fav 
          input(type='checkbox' id='favorite' value=editRecipe.favorite name='favorite')
      
      .row
        .medium-12.columns
          p
          label(for='temp-range') Temperature Range*
          select(id='temp-range' name='temp_range' required)
            option(disabled) Choose Temperature Range
            - tempArray = ['Low Fire', 'Mid Range', 'High Fire']
            for item in tempArray        
              option(selected=editRecipe.tempRange== item) #{item}
          p
          label(for='cone') Cone*
          select(id='cone' name='cone' required)
            option(disabled) Choose Cone
            - coneArray = ['∆ 022', '∆ 021', '∆ 020', '∆ 019', '∆ 018', '∆ 017', '∆ 016', '∆ 015', '∆ 014', '∆ 013', '∆ 012', '∆ 011', '∆ 010', '∆ 09', '∆ 08', '∆ 07', '∆ 06', '∆ 05', '∆ 04', '∆ 03', '∆ 02', '∆ 01', '∆ 1', '∆ 2', '∆ 3', '∆ 4', '∆ 5', '∆ 6', '∆ 7', '∆ 8', '∆ 9', '∆ 10', '∆ 11', '∆ 12', '∆ 13', '∆ 14', '∆ 15']
            for item in coneArray        
              option(selected=editRecipe.cone== item) #{item}
          p
          label(for='firing-type') Type of Firing*
          select(id='firing-type' name='firing_type' required)
            option(disabled) Choose Firing Type
            - firingArray = ['Oxidation', 'Reduction', 'Raku', 'Salt or Soda', 'Wood', 'Lustre', 'Saggar']
            for item in firingArray        
              option(selected=editRecipe.firingType== item) #{item}
          p
          label(for='surface') Surface*
          select(id='surface' name='surface' required)
            option(disabled) Choose Surface
            - surfaceArray = ['Shiny or Glossy', 'Semi-Gloss', 'Semi-Matte or Satin', 'Matte', 'Dry Matte']
            for item in surfaceArray        
              option(selected=editRecipe.surface== item) #{item}
          p
          label(for='opacity') Opacity*
          select(id='opacity' name='opacity' required)
            option(disabled) Choose Opacity
            - opacityArray = ['Transparent', 'Translucent', 'Opaque']
            for item in opacityArray        
              option(selected=editRecipe.opacity== item) #{item}
          p
          label(for='color') Color*
          select(id='color' name='color' required)
            option(disabled) Choose Color
            - colorArray = ['No Color', 'White', 'Gray', 'Black', 'Brown', 'Red', 'Orange', 'Yellow', 'Green', 'Blue-Green', 'Blue', 'Purple']
            for item in colorArray        
              option(selected=editRecipe.color== item) #{item}
          p
          label(for='specialty') Specialty Glaze
          select(id='specialty' name='specialty')
            option(disabled) N/A
            - specialtyArray = ['Crystalline', 'Metallic', 'Luster', 'Texture', 'Rivulet', 'Slip', 'Stain', 'Engobe']
            for item in specialtyArray        
              option(selected=editRecipe.specialty== item) #{item}
          p
          .medium-9.columns
            label(for='ingredients') Ingredients
            p
            input(type='text' id='ingredients' value=ingredients[0] name='ingredient_1')
            p
            input(type='text' id='ingredients' value=ingredients[1] name='ingredient_2')
            p
            input(type='text' id='ingredients' value=ingredients[2] name='ingredient_3')
            p
            input(type='text' id='ingredients' value=ingredients[3] name='ingredient_4')
            p
            input(type='text' id='ingredients' value=ingredients[4] name='ingredient_5')
            p
            input(type='text' id='ingredients' value=ingredients[5] name='ingredient_6')
            p
            input(type='text' id='ingredients' value=ingredients[6] name='ingredient_7')
            p
            input(type='text' id='ingredients' value=ingredients[7] name='ingredient_8')
            p
            input(type='text' id='ingredients' value=ingredients[8] name='ingredient_9')
            p
            input(type='text' id='ingredients' value=ingredients[9] name='ingredient_10')
            
     
          .medium-3.columns
            label(for='amount') Amount
            p
            input(type='text' id='amount' value=amounts[0]  name='amount_1')
            p
            input(type='text' id='amount' value=amounts[1]  name='amount_2')
            p
            input(type='text' id='amount' value=amounts[2]  name='amount_3')
            p
            input(type='text' id='amount' value=amounts[3]  name='amount_4')
            p
            input(type='text' id='amount' value=amounts[4]  name='amount_5')
            p
            input(type='text' id='amount' value=amounts[5]  name='amount_6')
            p
            input(type='text' id='amount' value=amounts[6]  name='amount_7')
            p
            input(type='text' id='amount' value=amounts[7]  name='amount_8')
            p
            input(type='text' id='amount' value=amounts[8]  name='amount_9')
            p
            input(type='text' id='amount' value=amounts[9]  name='amount_10')
            

          .medium-9.columns  
            p
            label(for='add-ingredients') Additional Ingredients
            p
            input(type='text' id='add-ingredients' value=addIngredients[0] name='add_in_1')
            p
            input(type='text' id='add-ingredients' value=addIngredients[1] name='add_in_2')
            p
            input(type='text' id='add-ingredients' value=addIngredients[2] name='add_in_3')
            p
            input(type='text' id='add-ingredients' value=addIngredients[3] name='add_in_4')
            p
            input(type='text' id='add-ingredients' value=addIngredients[4] name='add_in_5')
            p
            input(type='text' id='add-ingredients' value=addIngredients[5] name='add_in_6')
            
          .medium-3.columns
            label(for='add-amount') Amount
            p
            input(type='text' id='add-amount' value=addAmounts[0]  name='add_amount_1')
            p
            input(type='text' id='add-amount' value=addAmounts[1]  name='add_amount_2')
            p
            input(type='text' id='add-amount' value=addAmounts[2]  name='add_amount_3')
            p
            input(type='text' id='add-amount' value=addAmounts[3]  name='add_amount_4')
            p
            input(type='text' id='add-amount' value=addAmounts[4]  name='add_amount_5')
            p
            input(type='text' id='add-amount' value=addAmounts[5]  name='add_amount_6')
            p
          
          .medium-12.columns
            label(for='tested') Tested
            - tested = editRecipe.tested
            if tested = 'on'
              input(type='checkbox' id='tested' checked name='tested')
            else
              input(type='checkbox' id='tested' name='tested')

            p
            label(for='notes') Notes
            textarea(rows=6 id='notes' name='notes') #{editRecipe.notes}
            p
            //Dom FileUpload??
            label(for='image') Upload Image
            p
            input(type='file' id='image' placeholder='Select File' name='image')
            p
            input(type='submit' value="Update Recipe")
            p
  
  
  
  //
