.row 
  .medium-2.columns
    .image
      img(src='#{oneRecipe.image}')
  .medium-6.columns
    h1 #{oneRecipe.title}
  .medium-4.columns
    .row
      .medium-2.columns.circle
        //- a(href='/glazes/' + oneRecipe._id + '/edit') Edit
      .medium-2.columns.circle
        p Delete
.row
  .medium-4.columns.attributes
    p Temperature Range 
      br
      &emsp; #{oneRecipe.tempRange}
    p Cone 
      br
      &emsp; #{oneRecipe.cone}
    p Type of Firing
      br
      &emsp; #{oneRecipe.firingType}
    p Surface
      br
      &emsp; #{oneRecipe.surface}
    p Opacity
      br
      &emsp; #{oneRecipe.opacity}
    p Color 
      br
      &emsp; #{oneRecipe.color}
    p Specialty 
      br
      &emsp; #{oneRecipe.specialty}
    p Tested 
      br
      &emsp; #{oneRecipe.tested}
  .medium-8.columns
    .row
      .medium-9.columns
        h3 Base Ingredients
        p.line #{ingredients[0]}
        p.line #{ingredients[1]}
        p.line #{ingredients[2]}
        p.line #{ingredients[3]}
        p.line #{ingredients[4]}
        p.line #{ingredients[5]}
        p.line #{ingredients[6]}
        p.line #{ingredients[7]}
        p.line #{ingredients[8]}
        p.line #{ingredients[9]}
      .medium-3.columns
        h3 Amount
        p.line #{amounts[0]}
        p.line #{amounts[1]}
        p.line #{amounts[2]}
        p.line #{amounts[3]}
        p.line #{amounts[4]}
        p.line #{amounts[5]}
        p.line #{amounts[6]}
        p.line #{amounts[7]}
        p.line #{amounts[8]}
        p.line #{amounts[9]}
    .row
      .medium-9.columns
        h3 Additional Ingredients
        p.line #{addIngredients[0]}
        p.line #{addIngredients[1]}
        p.line #{addIngredients[2]}
        p.line #{addIngredients[3]}
        p.line #{addIngredients[4]}
        p.line #{addIngredients[5]}
      .medium-3.columns
        h3 Amount
        p.line #{addAmounts[0]}
        p.line #{addAmounts[1]}
        p.line #{addAmounts[2]}
        p.line #{addAmounts[3]}
        p.line #{addAmounts[4]}
        p.line #{addAmounts[5]}
    .row
      .medium-12.columns.notes
        h3 Notes
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec porta nibh. Aenean turpis metus, finibus a aliquam a, congue vitae est. Donec ornare suscipit augue, in consectetur nulla porta sit amet. Maecenas sed lacus efficitur, sodales dolor nec, feugiat eros.
.row
  .medium-12.columns.footer  
    p Footer
        










//
