.row
  .medium-10.columns.show-h1
    h1 Favorite Recipes
  .medium-2.columns
    a.add-button(href='/glazes') +

for val in favRecipe
  .row.recipe
    .medium-2.columns
      a(href='/glazes/' + val._id) IMAGE
    .medium-9.columns
      a(href='/glazes/' + val._id) 
        h3 #{val.title}
        //- p #{val.tempRange} | #{val.cone} | #{val.surface}
        p
          | #{val.tempRange} 
          span.pipe &nbsp;|&nbsp; 
          |  #{val.cone} 
          span.pipe &nbsp;|&nbsp; 
          |  #{val.surface}
    .medium-1.columns.fav
      if val.favorite
        i.fa.fa-heart
        
.row
  .medium-12.columns.footer
