.row
  .medium-10.columns.show-h1
    h1= firingTemp
  .medium-2.columns
    a.add-button(href='/glazes') +

if lowRecipes
  for val in lowRecipes
    .row.recipe
      .medium-2.columns
        a(href='/glazes/' + val._id) IMAGE
      .medium-9.columns
        a(href='/glazes/' + val._id) 
          h3 #{val.title}
        p
          | #{val.tempRange} 
          span.pipe &nbsp;|&nbsp; 
          |  #{val.cone} 
          span.pipe &nbsp;|&nbsp; 
          |  #{val.surface}
      .medium-1.columns.fav
        if val.Favorite
          i.fa.fa-heart    

.row
  .medium-12.columns.footer
